/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #555;
}

nav {
    list-style: none;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: white;
    cursor: pointer;
}

a:hover {
    opacity: 1;
    
}

a.btn {
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

section h3.title {
    text-transform: capitalize;
    font: bold 32px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

section:not(.hero):nth-child(even) {
    background-color: #f5f5f5;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    margin-bottom: 30px;
    background-color: #3f51b5;
    border: 0;
}

@media (max-width: 800px) {
    section {
        padding: 50px 20px;
    }
}

/* Header Styles */
header {
    position: absolute;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 35px 100px 0;
    animation: 1s fadein 0.5s forwards;
    opacity: 0;
    color: white;
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

header nav {
    display: flex;
    margin-right: -15px;
}

header nav li {
    margin: 0 16px;
}

@media (max-width: 800px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
    }
}

/* Hero Styles */
.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: white;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    background-color: #80a3db;
}

.hero h1 {
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 15px;
}

.hero h3 {
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;
}

.hero-content-area {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.hero-content-area h1 {
    opacity: 0;
    animation: slidefade 1s 1s forwards;
}

.hero-content-area .other-links {
    position: absolute;
    bottom: 28px;
    opacity: 0;
    animation: slidefade 1s 1.5s forwards;
}

.hero-content-area .other-links i {
    margin: 0 10px;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}


@media (max-width: 800px) {
    .hero {
        min-height: 600px;
    }

    .hero h1 {
        font-size: 48px;
    }

    .hero h3 {
        font-size: 24px;
    }

    .hero a.btn {
        padding: 15px 40px;
    }
}

/* Projects Section */
.project-container {
    position: relative;
    width: 70%;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.project-title {
    color: #3f51b5;
    font-size: 24px;
    font-weight: bold;
}

.project-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    transition: 0.5s ease;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: lightslategray;
}

.project-text {
    color: white;
}

.project-text .project-link {
    font-size: 40px;
    position: absolute;
    top: 8px;
    left: 16px;
}

.project-text .project-stack {
    font-size: 20px;
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.project-container:hover .overlay {
    opacity: 0.8;
}

.project-container:hover img {
    filter: grayscale(70%);
}

/* Technical Skills Section */
.technical-skills .grid li {
    padding: 25px;
    flex-basis: 30%;
    text-align: center;
}

.technical-skills .grid li i {
    color: #8c9eff;
}

.technical-skills .grid li h4 {
    font-size: 30px;
    margin: 15px 0;
}

@media (max-width: 800px) {
    .technical-skills .grid li {
        flex-basis: 100%;
        padding: 20px;
    }
}

/* About Section */
.about-text {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.about-text p {
    text-align: start;
}

.about-me p a {
    color: #3f51b5;
}

/* Footer section */
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #607d8b;
    color: #fff;
    padding: 20px 0;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 16px;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
}

@media (max-width: 1100px) {
    footer {
        flex-direction: column;
    }

    footer p {
        text-align: center;
        margin-bottom: 20px;
    }

    footer ul li {
        margin: 0 8px;
    }
}

